/* -------------------------------------------

    1500px

--------------------------------------------- */

@media (max-width: 1500px) {
}

/* -------------------------------------------

    1450px

--------------------------------------------- */

@media (max-width: 1450px) {
	.responsive-sidebar-menu .sidebar-menu-inner {
		padding: 50px 0px;
	}
}

/* -------------------------------------------

    1400px

--------------------------------------------- */

@media (max-width: 1400px) {
	.icon-menu {
		right: 30px;
	}
	.myinfo-card {
		left: 30px;
		width: 350px;
		padding: 30px 20px;
	}
	.sidebar-nav {
		right: 30px;
	}
}
/* -------------------------------------------

    1250px

--------------------------------------------- */

@media (max-width: 1250px) {
	.custom-container {
		max-width: 800px;
	}
	.icon-menu {
		position: fixed;
	}
	.myinfo-card {
		display: none;
	}
	.sidebar-nav {
		display: none;
	}
	main .myinfo-card {
		display: block;
		position: relative;
		left: 0;
		top: 0;
		transform: translateY(0);
		max-width: 767px;
		width: 100%;
		margin: 20px auto 0;
		padding: 30px 50px;
	}
}

/* -------------------------------------------

    1100px

--------------------------------------------- */

@media (max-width: 1100px) {
}

/* -------------------------------------------

    992px

--------------------------------------------- */

@media (max-width: 992px) {
}

/* -------------------------------------------

    767px

--------------------------------------------- */

@media (max-width: 767px) {
  .icon-menu {
    right: 20px;
    top: 20px;
}
.custom-container {
    max-width: 500px;
}
}

/* -------------------------------------------

    600px

--------------------------------------------- */

@media (max-width: 600px) {
}

/* -------------------------------------------

    500px

--------------------------------------------- */

@media (max-width: 500px) {
}

/* -------------------------------------------

    450px

--------------------------------------------- */

@media (max-width: 450px) {
}

/* -------------------------------------------

    400px

--------------------------------------------- */

@media (max-width: 400px) {
}

/* -------------------------------------------

    300px

--------------------------------------------- */

@media (max-width: 300px) {
}
